
*{
    margin: 0;
    text-decoration: none;
    
}
body{
     height: 100vh;
     background: url(img/cover.png);
     background-position: center;
     background-size: cover;

}

header{
    position:fixed;
    height: 10vh;
    font-family: "Oswald", sans-serif;
    color: black;
    display: flex;
    justify-content:space-between;

}

.header h1{

    font-weight: bolder;
    position: absolute;
    margin-top: 20px;
    left: 40px;
    font-size: 20px;
    
}
.div-head{
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    left: 85px;
    color: rgb(46, 39,89);
}

.div-head h1{
    font-size: 20px;
    font-weight:900;
}
.div1{
    width: 35%;
    position: absolute;
    top: 180px;
    left: 120px;
    line-height: 2.3;
    font-family: 'Times New Roman', Times, serif;
    
}

.div1 h1{
    font-size: 40px;
    color:  rgb(46, 39, 89);
    font-family: "Oswald", sans-serif;
 
}
.div1 h2{
    font-size: 20px;
    font-family:"Oswald", sans-serif;
    color: rgb(55, 47, 106);
}
.div1 p{
    font: 20px;
}

.profile-pic img{
    width: 450px;
    position: relative;
    top: 100px;
    left: 56%;
    height:450;

}
.profile-pic img:nth-of-type(2) {
    width: 580px;
    position: relative;
    top: 20px;
    left:200px;
    height: 450px;
    opacity: 0.5;
   z-index: 1;
}
.profile-pic img:nth-of-type(3){
    width: 230px;
    top: 180px;;
    left: 130px;
    height: 200px;
  
}
.profile-pic img:nth-of-type(4) {
    width: 580px;
    position: relative;
    top: 20px;
    left:200px;
    height: 450px;
    opacity: 0.5;
   z-index: 1;
}
.div2{
    position: relative;
    top: 400px;
    border: outset;
    border-width: 2px;
    padding: 10px;

}
.div2 h1{
    font-size: 20px;
    color:  rgb(46, 39, 89);
    font-family: "Oswald", sans-serif;
    margin-left: 60px;
}

.div2 li{
    font-size: 13px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 4;
    color: black;
    
}

.icons img{
    position:  relative;
    left: 115px;
    width: 25px;
    top: 10px;
}


