
*{
    margin: 0;
}
body{
     height: 100vh;
     background-position: center;
     background-size: cover;
}
header{
    display: flexs;
    height: 10vh;
    font-family: "Oswald", sans-serif;
    color: black;
    border-style: double;
    border-color: gray;
    border-width: 1px;
}

.header h1{
    font-weight: bolder;
    position: absolute;
    margin-top: 20px;
    left: 40px;
    font-size: 20px;
    
}

.nav a{
    color: black;
    text-decoration: none;
    transition: .3s;
    font-size: 16px;
    transition: .3s;
   
}

.div-head{
    position: absolute;
    left: 50px;
}
.div-head h1{
    font-size: 20px;
    font-weight:900;
}
.div1{
    width: 40%;
    position: absolute;
    top: 180px;
    left: 90px;
    line-height: 2.3;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style: outset;
   border-radius: 10px;
   padding: 30px;
}

.div1 h1{
    font-size: 40px;
    color:  rgb(46, 39, 89);
    font-family: "Oswald", sans-serif;
}
.div1 h2{
    font-size: 20px;
    font-family:"Oswald", sans-serif;
    color: rgb(55, 47, 106);
}
.div1 p{
    font: 20px;
}

.profile-pic img{
    width: 300px;
    position: relative;
    left: 38%;
}

.div2{
    position: relative;
    left:950px ;
    bottom: 200px;
}
.div2 h1{
    font-size: 20px;
    color:  rgb(46, 39, 89);
    font-family: "Oswald", sans-serif;
}

